//colors
$primary-color: rgb(0, 90, 255);
$secondry-color: hsl(0, 0%, 55%);
$white-color:#fff;
$primary-blue: #005AFF;
$background-blue: #EEF8FF;
$primary-text: #333;
$link-text: #005AFF;
$primary-color: #005AFF; // Primary color for the brand

$text-color: #333; // Primary text color
$link-color: #005AFF;

// font-sizes

$font-16:16px;
$font-14:14px;

//font-family

$font-display:' SF Pro Display Regular';