footer {
    background-color:$white-color;
    padding: 20px 0;
    
    #footer {
      .container {
        background-color: white;
        width: 1200px;
        .row {
          .col-12 {
            text-align: center;
            
            p {
              margin: 0;

              font-size: 14px;
             
            }
          }
        }
      }
    }
  }
 