#contact {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 150px;
  margin-top: 150px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
}



#contact .p {
  font-size: 16px;
  color: #666;
  line-height: 1;
}
